.formulario-usuarios {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  margin-bottom: 10px;
  width: 75%;
  margin: 0 auto;
  padding: 15px;
}

.btn-usuarios {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  align-self: center;
}
