.tabla-titulo {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  font-weight: 700;
}
.tabla-usuarios {
  font-size: 12px;
}

.parrafo-usuarios {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}
